.footer {
    padding-top: 66px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 880px;
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 282px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
} 